@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Details: </h1>
</div>
<div class="menu">
<h2>You have deleted the client successfully.<h2/>

<form action='/stylists' method='get'>
<button type="submit" class="btn btn-info">View all stylists</button>
</form>
</div>
</div>
