@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Add a new client to @Model.GetName()</h1>
</div>
<div class="menu">
<form action='/stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>

  <label for='clientName'>Client's name</label>
  <input id='clientName' name='clientName' type='text' required>
  <br>
  <label for='clientPhone'>Client's phone number</label>
  <input id='clientPhone' name='clientPhone' type='number' required>

  <button type='submit' class="btn btn-warning">Add a client</button>
</form>
</div>
</div>
