<h1>Hair Salon Staff</h1>

<form action='/stylists' method='get'>
<button type="submit">View stylists</button>
</form>

<form action='/stylists/new' method='get'>
<button type="submit">Add a new stylist</button>
</form>
