@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Hair Salon Staff</h1>
</div>
<div class="row row-eq-height">
<div class="well col-xs-4">
<form action='/stylists' method='get'>
<button type="submit" class="btn btn-info">View stylists</button>
</form>
<br>
<form action='/specialties' method='get'>
<button type="submit" class="btn btn-info">View all specialties</button>
</form>
</div>
</div>
