@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Hair Salon Staff</h1>
</div>
<div class="menu">
<form action='/stylists' method='get'>
<button type="submit" class="btn btn-info">View stylists</button>
</form>
<br>
<form action='/stylists/new' method='get'>
<button type="submit" class="btn btn-info">Add a new stylist</button>
</form>
</div>
</div>
