@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">

  <h2>Edit stylist: @Model["stylist"].GetName()</h2>

</div>
<div class="row row-eq-height">
<div class="well col-xs-6">

  <form action='/stylists' method='get'>
  <button type="submit" class="btn btn-info">View all stylists</button>
  </form>
  <br>
  <form action='/' method='get'>
  <button type="submit" class="btn btn-info">Home</button>
  </form>
  <br>
  <form action='/specialties' method='get'>
  <button type="submit" class="btn btn-info">View all specialties</button>
  </form>

</div>
<div class="well col-xs-6">

  <form action="/stylists/@Model["stylist"].GetId()/update" method="post">
    <label for="newName">Name:</label>
    <input type="text" name="newName" value="@Model["stylist"].GetName()">

    <button type="submit" class="btn btn-warning">Edit</button>
  </form>

</div>
</div>
</div>
