@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h1>Add a stylist</h1>
</div>
<div class="menu">
<form action="/stylists" method="post">
  <label for="stylistName">Stylist Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit" class="btn btn-warning">Add</button>
</form>

<form action='/' method='get'>
<button type="submit" class="btn btn-info">Back home</button>
</form>
</div>
</div>
