@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h3>Clients for @Model["stylist"].GetName()</h3>
</div>
<div class="menu">
<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
<button type="submit" class="btn btn-warning">Add a new client</button>
</form>
<br>
<form action='/stylists/@Model["stylist"].GetId()/delete' method='post'>
<button type="submit" class="btn btn-danger">Delete this stylist</button>
</form>
<br>
<form action='/stylists' method='get'>
<button type="submit" class="btn btn-info">View all stylists</button>
</form>
<br>
<form action='/' method='get'>
<button type="submit" class="btn btn-info">Home</button>
</form>
</div>
</div>
